<!DOCTYPE html>
<html lang="en" class=" js csstransforms csstransforms3d csstransitions">
<head>
    <title>Sistema Online</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="/static/themes/endless/css/public.css" rel="stylesheet">
    <script src="/static/js/jquery/jquery.toast.min.js"></script>
    <link href="/static/css/jquery.toast.min.css" rel="stylesheet"/>
</head>

<body class="sticky-nav transparent-nav">
<header class="site-header color-alt overlay-black size-full text-center"
        style="background-image: url(/static/images/background.jpg)">
    <div class="container">
        <h1><strong>Saneamento</strong> Lagoa Nova-RN</h1>
        <h4>Sistema de registro e acompanhamento de indicadores de saneamento básico da Prefeitura Municipal de Lago Nova.</h4>
        <br><br><br>
        <a class="btn btn-lg btn-white btn-outline btn-round" href="/admin/"><span style="padding: 0 30px;">Acessar</span></a>
    </div>
</header>
{% if messages %}
    {% for message in messages %}
        {{ message|toast }}
    {% endfor %}
{% endif %}
</body>
</html>